@import "syntax-variables";

atom-text-editor,atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
    border-left-width: 2px !important;
    height: 1.4em !important;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .syntax--marker .region, atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region,
atom-text-editor .search-results .syntax--marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}



.syntax--entity {
  &.syntax--name.syntax--type {
    color: @orange;
  }

  &.syntax--other.syntax--inherited-class {
    color: @green;
  }
}

.syntax--keyword {
  color: @softblue;

  &.syntax--control {
    color: @softblue;
  }

  &.syntax--operator {
    color: @syntax-text-color;
  }

  &.syntax--other.syntax--special-method {
    color: @blue;
  }

  &.syntax--other.syntax--unit {
    color: @orange;
  }
}

.syntax--storage {
  color: @purple;
  // font-style: italic;
  font-weight: bold;
}

.syntax--constant {
  color: @orange;

  &.syntax--character.syntax--escape {
    color: @cyan;
  }

  &.nsyntax--umeric {
    color: #FF7C00;
  }

  &.syntax--other.syntax--color {
    color: @cyan;
  }

  &.syntax--other.syntax--symbol {
    color: @green;
  }
}

.syntax--variable {
  color: @red;


  &.syntax--interpolation {
    color: @red;
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text-color;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  // color: #FF8D6A;
  color: @orange;
  font-style: italic;


  &.syntax--regexp {
    color: @cyan;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @orange;
    }
  }

  &.syntax--other.syntax--link {
    color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @comment;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @light-orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: darken(@red, 10%);
  }

}

.syntax--support {
  &.syntax--class {
    color: @orange;
  }

  &.syntax--function  {
    color: @purple;

    &.syntax--any-method {
      color: @blue;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @blue;
    font-weight: bold;
    font-style: italic;

  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @orange;
  }

  &.syntax--name.syntax--section {
    color: @blue;
  }

  &.syntax--name.syntax--tag {
    color: @purple;
    font-weight: bold;
  }

  &.syntax--other.syntax--attribute-name {
    color: #74B4CC;

    &.syntax--id {
      color: @blue;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @orange;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: #51B1F8;
  }
}



atom-text-editor[mini] .scroll-view,
atom-text-editor([mini]) .scroll-view {
  padding-left: 1px;
}

.syntax--link .syntax--entity {
  color: @light-gray;
  font-weight: bold;
  // font-style: italic;
}

.syntax--markup.syntax--link {
  color: @softblue;
  text-decoration: underline;
  // font-style: italic;
}
.syntax--span.syntax--comment{
    font-style: italic;
}
.syntax--markup.syntax--heading.syntax--gfm{
    font-size: 24px;
    line-height: 24px;
    // font-family: Operator Pro;
    // font-style: italic;
    font-weight: bold;
    // text-decoration: underline;
}

.syntax--python, .syntax--js, .syntax--html, .syntax--syntax--css{
    font-family: Operator Mono, monospace;
    // .comment{
    //     font-style: italic;
    // }
}

.syntax--markup.syntax--raw{
    font-family: Operator Mono, monospace;
    background-color: #F9F9F9;
    color: #BF616A;
}

.syntax--comment {
  color: @comment;
  background-color: @comment-background;
  border-radius: 2px;
  font-style: italic;
  // font-family: Proxima Nova, sans-serif;
  font-weight: bold;
  // font-style: italic;
  padding: 3px;

}


.syntax--comment.syntax--quote{
    background-color: @very-dark-gray;
    color: @syntax-text-color;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;
}



// Does this work? No it does not.
//
// atom-text-editor[data-grammar="source gfm"],
// atom-text-editor[data-grammar="source gfm"]::shadow {
//     font-family: Proxima Nova, sans-serif;
//     font-size: 18px;
//     font-weight: 100;
// }
